* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: auto;
}
h1{
    color:#ffffff;
}

.header-navigator ul{
    
}
/* footer */
.footer {
    max-width: 100%;
    background-color: rgb(34, 34, 34);
}
.top-content {
    width: 715px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 33px;
    display: block;
}
.top-content p{
    text-decoration: none;
    color: rgb(119, 119, 119);
    font-size: 14px;
    text-align: center;
    line-height: 24px;
}